* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    cursor: default;
    font-family: spotify-circular, Helvetica, Arial, sans-serif;
    scroll-behavior: smooth;
}

.t {
    height: 40px;
    width: 140px;
}
 
.tt {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 3%;
}

nav {
    height: 13.5vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: rgb(0, 0, 0);
    color: white;
}

ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 3%;
    padding-top: 20px;
    cursor: pointer;
}

.mm {
    display: flex;
    align-items: center;
    justify-content: center;
}

li a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
    cursor: pointer;
}

nav ul li {
    margin-left: 45px;
}

.mm p {
    margin-left: 40px;
    padding-top: 10px;
}

ul li :hover {
    color: rgb(16, 167, 16);
}

section {
    background-color:#1d75de;
    height: 400px;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-content: center;
    font-size: large;
}
.slap a{
    text-decoration: none;
    color: white;
}
.to {
    margin-left: 40px;
    margin-top: 80px;
}
.to h1 span h1{
    display: inline;
    font-weight: 900;
    height: 100px;
}
.to h6 {
    font-size: 12px;
}

.to h4 {
    font-size: 25px;
    font-weight: 20px;
}

.to button h4 {
    display: inline;
    font-size: medium;
}


.que {
    height: 150px;
    margin-top: 10vh;
    display: flex;
    justify-content: center;
}

.que h1 {
    font-weight: 900;
}

.si {
    background-color: rgb(22, 16, 16);
    height: 45px;
    width: 150px;
    border: none;
    border-radius: 40px;
    color: white;
    font-family: georgia;
}

.slap {
    font-size: small;
    font-weight: bold;
}

.si:hover {
    height: 55px;
    width: 160px;
    background-color: black;
}

.views {
    background-color: transparent;
    height: 48px;
    width: 147.75px;
    border-radius: 40px;
    color: white;
    font-family: georgia;
    border-color: white;
}

.views:hover {
    height: 52.5px;
    width: 152px;
}

.br:hover {
    height: 60px;
    width: 200px;
}

.vc {
    font-size: small;
    font-weight: 700;
}

.yo {
    background-color: white;
    margin-bottom: 5vh;
    margin-left: 6%;
    margin-right: 6%;
    display: flex;
    justify-content: space-around;
}

.yo .yo-kid{
    display: flex;
}

.yo .yo-kid .kid-1{
    margin-left: 120px;
}

.why-pre {
    height: 150px;
    width: 150px;
}

/* Cards */
.cover {
    background-color: rgb(224, 224, 224);
    height: 140vh;
    margin-top: 10vh;
}

.cover-topic {
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
}

.semi {
    margin-bottom: 5vh;
    margin-left: 6%;
    margin-right: 6%;
    display: flex;
    justify-content: space-around;
}

.card {
    background-color: white;
    box-shadow: rgb(0 0 0 / 30%) 0px 0px 8px;
    border-radius: 10%;
    height: 560px;
    width: 280px;
}

.min-1{
    display: block;
}

.card-min {
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 3.55%;
    font-weight: 700;
}

.bold {
    font-size: 14px;
    font-weight: bolder;
    font-stretch: wider;
}

.no {
    background-color: #2E77D0;
    color: aliceblue;
    border-radius: 5%;
    height: 30px;
    width: 250px;
    border: none;
}

.mo {
    background-color: white;
    color: rgb(46, 119, 208);
    border: 1px solid rgb(46, 119, 208);
    height: 30px;
    width: 200px;
    font-size: large;
    border-radius: 8%;
    margin-top: 4px;
    font-weight: 900;
    display: inline-block;
}

.font {
    margin-top: 2%;
    font-stretch: wider;
    font-size: 24px;
    font-weight: bold;
    line-height: 24px;
}

.note {
    font-size: 17px;
    margin-top: 2%;
    font-stretch: wider;
}

.acc {
    color: rgb(0, 0, 0);
    display: block;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
}

hr {
    display: block;
    unicode-bidi: isolate;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    overflow: hidden;
    border-style: inset;
    border-width: 1px;
}

.hr {
    align-self: stretch;
    border-color: rgb(204, 204, 204);
    margin: auto 0px 0px;
}

.div2 {
    padding-top: 32px;
    padding-bottom: 16px;
    list-style: none;
    margin-top: 0px;
    background-color: rgb(255, 255, 255);
    margin-right: auto;
    margin-left: auto;
    max-width: 400px;
    width: auto;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 0px;
}

.div2 li p {
    display: inline-block;
}

.str {
    display: inline;
    color: rgb(0, 0, 0);
    padding: 0px 10px 0px 0px;
}

.get-but {
    padding-top: 30px;
}

.get-but1 {
    padding-top: 10px;
}

.get-but1 button {
    background-color: rgb(0, 0, 0);
    height: 45px;
    width: 250px;
    border: none;
    border-radius: 40px;
    color: white;
    font-family: georgia;
}

.get-but button {
    background-color: rgb(0, 0, 0);
    height: 45px;
    width: 250px;
    border: none;
    border-radius: 40px;
    color: white;
    font-family: georgia;
}

.get-but button span {
    font-size: 14px;
    font-weight: 700;
}

.get-but1 button span {
    font-size: 14px;
    font-weight: 700;
}

.low {
    font-size: small;
    padding-top: 20px;
}


/* footer */

.foot {
    width: 100%;
    height: 90vh;
    background-color: black;
}

footer {
    padding-top: 5%;
    padding-bottom: 5%;
}

.foot-cover {
    margin: 0px 60px;
    color: white;
    display: flex;
}

.item {
    display: flex;
}

.items {
    margin-left: 120px;
}

.items p {
    color: rgb(161, 152, 152);
    font-size: large;
    font-weight: bold;
}

.items li {
    padding-top: 15px;
    font-size: large;
    font-weight: 700;
}

.spot{
    height: 50px;
    width: 150px;
}
.item-plus{
    display: flex;
}
.nig {
    margin: 0px 60px;
    color: rgb(105, 105, 105);
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-top: 120px;
}

.nig h4 {
    display: flex;
    font-size: medium;
    flex-direction: row;
}

.item-img {
    height: 40px;
    width: 40px;
    background-color: #222326;
}

.t-img {
    display: flex;
    margin-left: 100px;
}

.e {
    height: 65px;
    width: 65px;
    border-radius: 50%;
}

.ur {
    color: rgb(105, 105, 105);
    display: flex;
    padding-top: 0%;
}

.ur ul li {
    display: inline-flex;
    margin-left: 45px;
}


/* .ur ul div em {
    padding-left: 520px;
} */

.ur ul div {
    padding-left: 520px;
}


















/* Media queries */
@media(max-width:1000px){ 
    .to {
        margin-left: 35px;
        margin-top: 70px;
    }
    .to h1 span h1{
        display: inline;
        font-weight: 800;
        height: 100px;
    }
    .to h6 {
        font-size: 12px;
    }
    
    .to h4 {
        font-size: 22.5px;
        font-weight: 20px;
    }
    
    .to button h4 {
        display: inline;
        font-size: medium;
    }
    
    .que {
        height: 140px;
        margin-top: 10vh;
        display: flex;
        justify-content: center;
    }
    
    .que h1 {
        font-weight: 900;
    }
    
    .si {
        background-color: rgb(22, 16, 16);
        height: 45px;
        width: 150px;
        border: none;
        border-radius: 40px;
        color: white;
        font-family: georgia;
    }
    
    .slap {
        font-size: small;
        font-weight: bold;
    }
    
    .si:hover {
        height: 55px;
        width: 160px;
        background-color: black;
    }
    
    .views {
        background-color: transparent;
        height: 48px;
        width: 147.75px;
        border-radius: 40px;
        color: white;
        font-family: georgia;
        border-color: white;
    }
    
    .views:hover {
        height: 52.5px;
        width: 152px;
    }
    
    .br:hover {
        height: 60px;
        width: 200px;
    }
    
    .vc {
        font-size: small;
        font-weight: 700;
    }
    
    .yo {
        background-color: white;
        margin-bottom: 5vh;
        margin-left: 5%;
        margin-right: 5%;
        display: flex;
        justify-content: space-around;
    }

    .yo .yo-kid{
        display:block;
    }
    
    .yo .yo-kid .kid-1{
        margin-left: 0px;
    }
    
    .why-pre {
        height: 130px;
        width: 130px;
    }
    
    .cover {
        background-color: rgb(224, 224, 224);
        height:2600px;
        margin-top: 10vh;
    }
    
    .cover-topic {
        text-align: center;
        padding-top: 5%;
        padding-bottom: 5%;
    }

    .cover-topic h4{
        font-size: large;
    }
    
    .min-1{
        display:flex;
        gap: 10px;
    }

    .semi {
        margin-bottom: 5vh;
        margin-left: 6%;
        margin-right: 6%;
        display:block;
        justify-content: space-around;
    }
    
    .card {
        background-color: white;
        box-shadow: rgb(0 0 0 / 30%) 0px 0px 8px;
        border-radius: 10%;
        height: 560px;
        width: 380px;
        margin-bottom:50px;
        margin-left:200px;
    }
    
    .card-min {
        padding-top: 5%;
        padding-left: 5%;
        padding-right: 3.55%;
        font-weight: 700;
    }
    
    .bold {
        font-size: 12px;
        font-weight: bold;
        font-stretch:normal;
    }
    
    .no {
        background-color: #2E77D0;
        color: aliceblue;
        border-radius: 5%;
        height: 30px;
        width: 250px;
        border: none;
    }
    
    .mo {
        background-color: white;
        color: rgb(46, 119, 208);
        border: 1px solid rgb(46, 119, 208);
        height: 30px;
        width: 200px;
        font-size: large;
        border-radius: 8%;
        font-weight: 900;
        display: inline-block;
    }
    
    .font {
        margin-top: 2%;
        font-stretch: wider;
        font-size: 24px;
        font-weight: bold;
        line-height: 24px;
    }
    
    .note {
        font-size: 17px;
        margin-top: 2%;
        font-stretch: wider;
    }
    
    .acc {
        color: rgb(0, 0, 0);
        display: block;
        font-size: 16px;
        font-weight: 600;
        line-height: 20px;
    }
    
    hr {
        display: block;
        unicode-bidi: isolate;
        margin-block-start: 0.5em;
        margin-block-end: 0.5em;
        margin-inline-start: auto;
        margin-inline-end: auto;
        overflow: hidden;
        border-style: inset;
        border-width: 1px;
    }
    
    .hr {
        align-self: stretch;
        border-color: rgb(204, 204, 204);
        margin: auto 0px 0px;
    }
    
    .div2 {
        padding-top: 32px;
        padding-bottom: 16px;
        list-style: none;
        margin-top: 0px;
        background-color: rgb(255, 255, 255);
        margin-right: auto;
        margin-left: auto;
        max-width: 400px;
        width: auto;
        padding-left: 20px;
        padding-right: 20px;
        margin-bottom: 0px;
    }
    
    .div2 li p {
        display: inline-block;
    }
    
    .str {
        display: inline;
        color: rgb(0, 0, 0);
        padding: 0px 10px 0px 0px;
    }
    
    .get-but {
        padding-top: 30px;
        text-align: center;
    }
    
    .get-but1 {
        padding-top: 10px;
    }
    
    .get-but1 button {
        background-color: rgb(0, 0, 0);
        height: 45px;
        width: 250px;
        border: none;
        border-radius: 40px;
        color: white;
        font-family: georgia;
    }
    
    .get-but button {
        background-color: rgb(0, 0, 0);
        height: 45px;
        width: 300px;
        border: none;
        border-radius: 40px;
        color: white;
        font-family: georgia;
    }
    
    .get-but button span {
        font-size: 14px;
        font-weight: 700;
    }
    
    .get-but1 button span {
        font-size: 14px;
        font-weight: 700;
    }
    
    .low {
        font-size: small;
        padding-top: 20px;
    }
    
    
    /* footer */
    
    .foot {
        width: 100%;
        height: 90vh;
        background-color: black;
    }
    
    footer {
        padding-top: 4%;
        padding-bottom: 4%;
    }
    
    .foot-cover {
        margin: 0px 50px;
        color: white;
        display: flex;
    }
    
    .item {
        display: flex;
    }
    
    .items {
        margin-left: 40px;
    }
    
    .items p {
        color: rgb(161, 152, 152);
        font-size: medium;
        font-weight:400;
    }
    
    .items li {
        padding-top: 4px;
        font-size:medium;
        font-weight: 400;
    }
    
    .nig {
        margin: 0px 60px;
        color: rgb(105, 105, 105);
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        padding-top: 120px;
    }
    .spot{
        height: 40px;
        width: 100px;
    }
    .nig h4 {
        display: flex;
        font-size: medium;
        flex-direction: row;
    }
    
    .item-img {
        height: 35px;
        width: 35px;
        background-color: #222326;
    }
    
    .t-img {
        display: flex;
        margin-left: 80px;
    }
    
    .e {
        height: 65px;
        width: 65px;
        border-radius: 50%;
    }
    
    .ur {
        color: rgb(105, 105, 105);
        display: flex;
        padding-top: 0%;
    }
    
    .ur ul li {
        display:flex;
        margin-left: 20px;
        font-size: small;
    }
        
    .ur ul div em {
        font-size: small;
    }
    
    .ur ul div {
        padding-left: 375px;
    }
}

/* 900px */
@media (max-width:900px) {
    .ur {
        color: rgb(105, 105, 105);
        display: flex;
        padding-top: 0%;
    }
    
    .ur ul li {
        display:flex;
        margin-left: 15px;
        font-size: small;
    }
        
    .ur ul div em {
        font-size: small;
    }
    
    .ur ul div {
        padding-left: 375px;
    }
}

/* 800px */
@media(max-width:800px){ 
    .to {
        margin-left: 35px;
        margin-top: 70px;
    }
    .to h1 span h1{
        display: inline;
        font-weight: 800;
        height: 100px;
    }
    .to h6 {
        font-size: 12px;
    }
    
    .to h4 {
        font-size: 22.5px;
        font-weight: 20px;
    }
    
    .to button h4 {
        display: inline;
        font-size: medium;
    }
    
    .que {
        height: 140px;
        margin-top: 10vh;
        display: flex;
        justify-content: center;
    }
    
    .que h1 {
        font-weight: 900;
    }
    
    .si {
        background-color: rgb(22, 16, 16);
        height: 45px;
        width: 150px;
        border: none;
        border-radius: 40px;
        color: white;
        font-family: georgia;
    }
    
    .slap {
        font-size: small;
        font-weight: bold;
    }
    
    .si:hover {
        height: 55px;
        width: 160px;
        background-color: black;
    }
    
    .views {
        background-color: transparent;
        height: 48px;
        width: 147.75px;
        border-radius: 40px;
        color: white;
        font-family: georgia;
        border-color: white;
    }
    
    .views:hover {
        height: 52.5px;
        width: 152px;
    }
    
    .br:hover {
        height: 60px;
        width: 200px;
    }
    
    .vc {
        font-size: small;
        font-weight: 700;
    }
    
    .yo {
        background-color: white;
        margin-bottom: 5vh;
        margin-left: 5%;
        margin-right: 5%;
        display: flex;
        justify-content: space-around;
    }

    .yo .yo-kid{
        display:block;
    }
    
    .yo .yo-kid .kid-1{
        margin-left: 0px;
    }
    
    .why-pre {
        height: 130px;
        width: 130px;
    }
    
    .cover {
        background-color: rgb(224, 224, 224);
        height:2600px;
        margin-top: 10vh;
    }
    
    .cover-topic {
        text-align: center;
        padding-top: 5%;
        padding-bottom: 5%;
    }

    .cover-topic h4{
        font-size: large;
    }
    
    .min-1{
        display:flex;
        gap: 10px;
    }

    .semi {
        margin-bottom: 5vh;
        margin-left: 6%;
        margin-right: 6%;
        display:block;
        justify-content: space-around;
    }
    
    .card {
        background-color: white;
        box-shadow: rgb(0 0 0 / 30%) 0px 0px 8px;
        border-radius: 10%;
        height: 560px;
        width: 380px;
        margin-bottom:50px;
        margin-left:200px;
    }
    
    .card-min {
        padding-top: 5%;
        padding-left: 5%;
        padding-right: 3.55%;
        font-weight: 700;
    }
    
    .bold {
        font-size: 12px;
        font-weight: bold;
        font-stretch:normal;
    }
    
    .no {
        background-color: #2E77D0;
        color: aliceblue;
        border-radius: 5%;
        height: 30px;
        width: 250px;
        border: none;
    }
    
    .mo {
        background-color: white;
        color: rgb(46, 119, 208);
        border: 1px solid rgb(46, 119, 208);
        height: 30px;
        width: 200px;
        font-size: large;
        border-radius: 8%;
        font-weight: 900;
        display: inline-block;
    }
    
    .font {
        margin-top: 2%;
        font-stretch: wider;
        font-size: 24px;
        font-weight: bold;
        line-height: 24px;
    }
    
    .note {
        font-size: 17px;
        margin-top: 2%;
        font-stretch: wider;
    }
    
    .acc {
        color: rgb(0, 0, 0);
        display: block;
        font-size: 16px;
        font-weight: 600;
        line-height: 20px;
    }
    
    hr {
        display: block;
        unicode-bidi: isolate;
        margin-block-start: 0.5em;
        margin-block-end: 0.5em;
        margin-inline-start: auto;
        margin-inline-end: auto;
        overflow: hidden;
        border-style: inset;
        border-width: 1px;
    }
    
    .hr {
        align-self: stretch;
        border-color: rgb(204, 204, 204);
        margin: auto 0px 0px;
    }
    
    .div2 {
        padding-top: 32px;
        padding-bottom: 16px;
        list-style: none;
        margin-top: 0px;
        background-color: rgb(255, 255, 255);
        margin-right: auto;
        margin-left: auto;
        max-width: 400px;
        width: auto;
        padding-left: 20px;
        padding-right: 20px;
        margin-bottom: 0px;
    }
    
    .div2 li p {
        display: inline-block;
    }
    
    .str {
        display: inline;
        color: rgb(0, 0, 0);
        padding: 0px 10px 0px 0px;
    }
    
    .get-but {
        padding-top: 30px;
        text-align: center;
    }
    
    .get-but1 {
        padding-top: 10px;
    }
    
    .get-but1 button {
        background-color: rgb(0, 0, 0);
        height: 45px;
        width: 250px;
        border: none;
        border-radius: 40px;
        color: white;
        font-family: georgia;
    }
    
    .get-but button {
        background-color: rgb(0, 0, 0);
        height: 45px;
        width: 300px;
        border: none;
        border-radius: 40px;
        color: white;
        font-family: georgia;
    }
    
    .get-but button span {
        font-size: 14px;
        font-weight: 700;
    }
    
    .get-but1 button span {
        font-size: 14px;
        font-weight: 700;
    }
    
    .low {
        font-size: small;
        padding-top: 20px;
    }
    
    
    /* footer */
    
    .foot {
        width: 100%;
        height: 90vh;
        background-color: black;
    }
    
    footer {
        padding-top: 4%;
        padding-bottom: 4%;
    }
    
    .foot-cover {
        margin: 0px 50px;
        color: white;
        display: flex;
    }
    
    .item {
        display: flex;
    }
    
    .items {
        margin-left: 40px;
    }
    
    .items p {
        color: rgb(161, 152, 152);
        font-size: medium;
        font-weight:400;
    }
    
    .items li {
        padding-top: 4px;
        font-size:medium;
        font-weight: 400;
    }
    
    .nig {
        margin: 0px 60px;
        color: rgb(105, 105, 105);
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        padding-top: 120px;
    }
    .spot{
        height: 40px;
        width: 100px;
    }
    .nig h4 {
        display: flex;
        font-size: medium;
        flex-direction: row;
    }
    
    .item-img {
        height: 35px;
        width: 35px;
        background-color: #222326;
    }
    
    .t-img {
        display: flex;
        margin-left: 80px;
    }
    
    .e {
        height: 65px;
        width: 65px;
        border-radius: 50%;
    }
    
    .ur {
        color: rgb(105, 105, 105);
        display: flex;
        padding-top: 0%;
    }
    
    .ur ul li {
        display:flex;
        margin-left: 20px;
        font-size: small;
    }
        
    .ur ul div em {
        font-size: small;
    }
    
    .ur ul div {
        padding-left: 375px;
    }
}

/* 700px */
@media(max-width:700px){ 
    .to {
        margin-left: 35px;
        margin-top: 70px;
    }
    .to h1 span h1{
        display: inline;
        font-weight: 800;
        height: 100px;
    }
    .to h6 {
        font-size: 12px;
    }
    
    .to h4 {
        font-size: 22.5px;
        font-weight: 20px;
    }
    
    .to button h4 {
        display: inline;
        font-size: medium;
    }
    
    .que {
        height: 140px;
        margin-top: 10vh;
        display: flex;
        justify-content: center;
    }
    
    .que h1 {
        font-weight: 900;
    }
    
    .si {
        background-color: rgb(22, 16, 16);
        height: 45px;
        width: 150px;
        border: none;
        border-radius: 40px;
        color: white;
        font-family: georgia;
    }
    
    .slap {
        font-size: small;
        font-weight: bold;
    }
    
    .si:hover {
        height: 55px;
        width: 160px;
        background-color: black;
    }
    
    .views {
        background-color: transparent;
        height: 48px;
        width: 147.75px;
        border-radius: 40px;
        color: white;
        font-family: georgia;
        border-color: white;
    }
    
    .views:hover {
        height: 52.5px;
        width: 152px;
    }
    
    .br:hover {
        height: 60px;
        width: 200px;
    }
    
    .vc {
        font-size: small;
        font-weight: 700;
    }
    
    .yo {
        background-color: white;
        margin-bottom: 5vh;
        margin-left: 5%;
        margin-right: 5%;
        display: flex;
        justify-content: space-around;
    }

    .yo .yo-kid{
        display:block;
    }
    
    .yo .yo-kid .kid-1{
        margin-left: 0px;
    }
    
    .why-pre {
        height: 130px;
        width: 130px;
    }
    
    .cover {
        background-color: rgb(224, 224, 224);
        height:2600px;
        margin-top: 10vh;
    }
    
    .cover-topic {
        text-align: center;
        padding-top: 5%;
        padding-bottom: 5%;
    }

    .cover-topic h4{
        font-size: large;
    }
    
    .min-1{
        display:flex;
        gap: 10px;
    }

    .semi {
        margin-bottom: 5vh;
        margin-left: 6%;
        margin-right: 6%;
        display:block;
        justify-content: space-around;
    }
    
    .card {
        background-color: white;
        box-shadow: rgb(0 0 0 / 30%) 0px 0px 8px;
        border-radius: 10%;
        height: 560px;
        width: 380px;
        margin-bottom:50px;
        margin-left:100px;
    }
    
    .card-min {
        padding-top: 5%;
        padding-left: 5%;
        padding-right: 3.55%;
        font-weight: 700;
    }
    
    .bold {
        font-size: 12px;
        font-weight: bold;
        font-stretch:normal;
    }
    
    .no {
        background-color: #2E77D0;
        color: aliceblue;
        border-radius: 5%;
        height: 30px;
        width: 250px;
        border: none;
    }
    
    .mo {
        background-color: white;
        color: rgb(46, 119, 208);
        border: 1px solid rgb(46, 119, 208);
        height: 30px;
        width: 200px;
        font-size: large;
        border-radius: 8%;
        font-weight: 900;
        display: inline-block;
    }
    
    .font {
        margin-top: 2%;
        font-stretch: wider;
        font-size: 24px;
        font-weight: bold;
        line-height: 24px;
    }
    
    .note {
        font-size: 17px;
        margin-top: 2%;
        font-stretch: wider;
    }
    
    .acc {
        color: rgb(0, 0, 0);
        display: block;
        font-size: 16px;
        font-weight: 600;
        line-height: 20px;
    }
    
    hr {
        display: block;
        unicode-bidi: isolate;
        margin-block-start: 0.5em;
        margin-block-end: 0.5em;
        margin-inline-start: auto;
        margin-inline-end: auto;
        overflow: hidden;
        border-style: inset;
        border-width: 1px;
    }
    
    .hr {
        align-self: stretch;
        border-color: rgb(204, 204, 204);
        margin: auto 0px 0px;
    }
    
    .div2 {
        padding-top: 32px;
        padding-bottom: 16px;
        list-style: none;
        margin-top: 0px;
        background-color: rgb(255, 255, 255);
        margin-right: auto;
        margin-left: auto;
        max-width: 400px;
        width: auto;
        padding-left: 20px;
        padding-right: 20px;
        margin-bottom: 0px;
    }
    
    .div2 li p {
        display: inline-block;
    }
    
    .str {
        display: inline;
        color: rgb(0, 0, 0);
        padding: 0px 10px 0px 0px;
    }
    
    .get-but {
        padding-top: 30px;
        text-align: center;
    }
    
    .get-but1 {
        padding-top: 10px;
    }
    
    .get-but1 button {
        background-color: rgb(0, 0, 0);
        height: 45px;
        width: 250px;
        border: none;
        border-radius: 40px;
        color: white;
        font-family: georgia;
    }
    
    .get-but button {
        background-color: rgb(0, 0, 0);
        height: 45px;
        width: 300px;
        border: none;
        border-radius: 40px;
        color: white;
        font-family: georgia;
    }
    
    .get-but button span {
        font-size: 14px;
        font-weight: 700;
    }
    
    .get-but1 button span {
        font-size: 14px;
        font-weight: 700;
    }
    
    .low {
        font-size: small;
        padding-top: 20px;
    }
    
    
    /* footer */
    
    .foot {
        width: 100%;
        height: 90vh;
        background-color: black;
    }
    
    footer {
        padding-top: 4%;
        padding-bottom: 4%;
    }
    
    .foot-cover {
        margin: 0px 50px;
        color: white;
        display: flex;
    }
    
    .item {
        display:block;
    }
    
    .items {
        margin-left: 40px;
    }
    
    .items p {
        color: rgb(161, 152, 152);
        font-size: medium;
        font-weight:400;
    }
    
    .items li {
        padding-top: 4px;
        font-size:medium;
        font-weight: 400;
    }
    

    .nig {
        margin: 0px 60px;
        color: rgb(105, 105, 105);
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        padding-top: 120px;
    }
    .spot{
        height: 40px;
        width: 100px;
    }
    .nig h4 {
        display: flex;
        font-size: medium;
        flex-direction: row;
    }
    
    .item-img {
        height: 35px;
        width: 35px;
        background-color: #222326; 
        margin-top: 75%;
        padding-left: 0%;
    }
    
    .t-img {
        display: flex;
        margin-left: 80px;
    }
    
    .e {
        height: 65px;
        width: 65px;
        border-radius: 50%;
    }
    
    .ur {
        color: rgb(105, 105, 105);
        display: flex;
        padding-top: 0%;
    }
    
    .ur ul li {
        display:flex;
        margin-left: 20px;
        font-size: small;
    }
        
    .ur ul div em {
        font-size: small;
    }
    
    .ur ul div {
        padding-left: 375px;
    }
}

/* mobile */
@media(max-width:500px){ 
    .to {
        margin-left: 35px;
        margin-top: 70px;
    }
    .to h1 span h1{
        display: inline;
        font-weight: 800;
        height: 100px;
    }
    .to h6 {
        font-size: 12px;
    }
    
    .to h4 {
        font-size: 22.5px;
        font-weight: 20px;
    }
    
    .to button h4 {
        display: inline;
        font-size: medium;
    }
    
    .que {
        height: 140px;
        margin-top: 10vh;
        display: flex;
        justify-content: center;
    }
    
    .que h1 {
        font-weight: 900;
    }
    
    .si {
        background-color: rgb(22, 16, 16);
        height: 45px;
        width: 150px;
        border: none;
        border-radius: 40px;
        color: white;
        font-family: georgia;
    }
    
    .slap {
        font-size: small;
        font-weight: bold;
    }
    
    .si:hover {
        height: 55px;
        width: 160px;
        background-color: black;
    }
    
    .views {
        background-color: transparent;
        height: 48px;
        width: 147.75px;
        border-radius: 40px;
        color: white;
        font-family: georgia;
        border-color: white;
    }
    
    .views:hover {
        height: 52.5px;
        width: 152px;
    }
    
    .br:hover {
        height: 60px;
        width: 200px;
    }
    
    .vc {
        font-size: small;
        font-weight: 700;
    }
    
    .yo {
        background-color: white;
        margin-bottom: 5vh;
        margin-left: 5%;
        margin-right: 5%;
        display: flex;
        justify-content: space-around;
    }

    .yo .yo-kid{
        display:block;
    }
    
    .yo .yo-kid .kid-1{
        margin-left: 0px;
    }
    
    .why-pre {
        height: 130px;
        width: 130px;
    }
    
    .cover {
        background-color: rgb(224, 224, 224);
        height:2600px;
        margin-top: 10vh;
    }
    
    .cover-topic {
        text-align: center;
        padding-top: 5%;
        padding-bottom: 5%;
    }

    .cover-topic h4{
        font-size: large;
    }
    
    .min-1{
        display:flex;
        gap: 10px;
    }

    .semi {
        margin-bottom: 5vh;
        margin-left: 6%;
        margin-right: 6%;
        display:block;
        justify-content: space-around;
    }
    
    .card {
        background-color: white;
        box-shadow: rgb(0 0 0 / 30%) 0px 0px 8px;
        border-radius: 10%;
        height: 560px;
        width: 380px;
        margin-bottom:50px;
        margin-left:200px;
    }
    
    .card-min {
        padding-top: 5%;
        padding-left: 5%;
        padding-right: 3.55%;
        font-weight: 700;
    }
    
    .bold {
        font-size: 12px;
        font-weight: bold;
        font-stretch:normal;
    }
    
    .no {
        background-color: #2E77D0;
        color: aliceblue;
        border-radius: 5%;
        height: 30px;
        width: 250px;
        border: none;
    }
    
    .mo {
        background-color: white;
        color: rgb(46, 119, 208);
        border: 1px solid rgb(46, 119, 208);
        height: 30px;
        width: 200px;
        font-size: large;
        border-radius: 8%;
        font-weight: 900;
        display: inline-block;
    }
    
    .font {
        margin-top: 2%;
        font-stretch: wider;
        font-size: 24px;
        font-weight: bold;
        line-height: 24px;
    }
    
    .note {
        font-size: 17px;
        margin-top: 2%;
        font-stretch: wider;
    }
    
    .acc {
        color: rgb(0, 0, 0);
        display: block;
        font-size: 16px;
        font-weight: 600;
        line-height: 20px;
    }
    
    hr {
        display: block;
        unicode-bidi: isolate;
        margin-block-start: 0.5em;
        margin-block-end: 0.5em;
        margin-inline-start: auto;
        margin-inline-end: auto;
        overflow: hidden;
        border-style: inset;
        border-width: 1px;
    }
    
    .hr {
        align-self: stretch;
        border-color: rgb(204, 204, 204);
        margin: auto 0px 0px;
    }
    
    .div2 {
        padding-top: 32px;
        padding-bottom: 16px;
        list-style: none;
        margin-top: 0px;
        background-color: rgb(255, 255, 255);
        margin-right: auto;
        margin-left: auto;
        max-width: 400px;
        width: auto;
        padding-left: 20px;
        padding-right: 20px;
        margin-bottom: 0px;
    }
    
    .div2 li p {
        display: inline-block;
    }
    
    .str {
        display: inline;
        color: rgb(0, 0, 0);
        padding: 0px 10px 0px 0px;
    }
    
    .get-but {
        padding-top: 30px;
        text-align: center;
    }
    
    .get-but1 {
        padding-top: 10px;
    }
    
    .get-but1 button {
        background-color: rgb(0, 0, 0);
        height: 45px;
        width: 250px;
        border: none;
        border-radius: 40px;
        color: white;
        font-family: georgia;
    }
    
    .get-but button {
        background-color: rgb(0, 0, 0);
        height: 45px;
        width: 300px;
        border: none;
        border-radius: 40px;
        color: white;
        font-family: georgia;
    }
    
    .get-but button span {
        font-size: 14px;
        font-weight: 700;
    }
    
    .get-but1 button span {
        font-size: 14px;
        font-weight: 700;
    }
    
    .low {
        font-size: small;
        padding-top: 20px;
    }
    
    
    /* footer */
    
    .foot {
        width: 100%;
        height: 90vh;
        background-color: black;
    }
    
    footer {
        padding-top: 4%;
        padding-bottom: 4%;
    }
    
    .foot-cover {
        margin: 0px 50px;
        color: white;
        display: flex;
    }
    
    .item {
        display: flex;
    }
    
    .items {
        margin-left: 40px;
    }
    
    .items p {
        color: rgb(161, 152, 152);
        font-size: medium;
        font-weight:400;
    }
    
    .items li {
        padding-top: 4px;
        font-size:medium;
        font-weight: 400;
    }
    
    .nig {
        margin: 0px 60px;
        color: rgb(105, 105, 105);
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        padding-top: 120px;
    }
    .spot{
        height: 40px;
        width: 100px;
    }
    .nig h4 {
        display: flex;
        font-size: medium;
        flex-direction: row;
    }
    
    .item-img {
        height: 35px;
        width: 35px;
        background-color: #222326;
    }
    
    .t-img {
        display: flex;
        margin-left: 80px;
    }
    
    .e {
        height: 65px;
        width: 65px;
        border-radius: 50%;
    }
    
    .ur {
        color: rgb(105, 105, 105);
        display: flex;
        padding-top: 0%;
    }
    
    .ur ul li {
        display:flex;
        margin-left: 20px;
        font-size: small;
    }
        
    .ur ul div em {
        font-size: small;
    }
    
    .ur ul div {
        padding-left: 375px;
    }
}